body >*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    
}



.navbar {
    overflow: hidden;
    background-color:#fff;
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin:0px;
    border-top-style: solid;
    border-bottom: solid;
    border-width: 0.2rem;
    border-color: black;
}

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}


.navbar a:hover {
    text-decoration: underline;

}



form{
    display: flex;
    flex-direction: column;
}
form > ul{
    list-style: none;
}

.main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;

}

.wrapper{
    padding: 1rem;
    margin: 1rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: black;
    border-radius: 1rem;
    width: 30%;
    height: 100%;
}

.wrapper > a{
    text-decoration: none;
    color: black ;
    text-align: center;
}

.wrapper > a:hover{
    text-decoration: underline;
    color: black ;

    
}

.list{
    margin: 0px;
    padding: 0px;
    display:flex ;
    flex-direction: column;
    text-align: center;
}

.create_new{
    align-self: center;
    justify-self: center;
    margin: 2rem
}

.visit_bucket{
    display: flex;
    align-items: center;
    justify-content: space-around

}


button, .input_button{
    max-height: 3rem;
    max-width: 7rem;
    background-color: #fff;
    border-color: #000000;
    border-radius: 1rem;


}

button:hover, .input_button:hover{
    height: 4rem;
    width: 8rem;
    background-color: #fff;
    border-color: #000000;
    text-decoration: underline;

}


.profile_title{
    text-align: center;
    background-color: #fff;
    border-top-style: solid;
    border-bottom: solid;
    border-width: 0.2rem;
    border-color: black;
    padding: 1rem;
}

.gif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: 100px;
    display: flex;
    background-color: #fff;
    border-top-style: solid;
    border-bottom: solid;
    border-width: 0.2rem;
    border-color: black;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    padding: 1rem;

}
footer >a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.513);
    font-size: 1.3rem;
}

footer >a:hover{
    text-decoration: underline;
    color: black;
}


