<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
    <title>Document</title>
<body>
    <div class="bg"></div>

    <header class="navbar">
    
        <nav>
            <a href="/home">Home</a>
            <a href="/user">Profile</a>
            <a href="/continents">Continents</a>
        </nav>
        <h1>WhereUGO</h1>
        <nav>
            <a href="/countries">Countries</a>
            <a href="/cities">Cities</a>
            <a href="/random">Random</a>
        </nav>
    </header>
<main>
    <div class="img_container">
        <img class="home_img" src= "{{ url_for('static', filename='/img/china.jpg') }}" alt="">
    </div>

    <section class="text">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi dolor placeat dolore non earum! Totam magni eum aliquid? Voluptas quia quas odio id esse consectetur sed voluptatibus tempora debitis, quasi ipsum facilis soluta nulla blanditiis temporibus amet? Facere consequuntur, corrupti ullam provident recusandae ea veniam praesentium doloribus! Debitis qui quibusdam, fugiat odit repellat non exercitationem.
        </p>
    </section>
</main>

<footer>
    <a href="https://github.com/Andrew1495">@Andrew1495</a>
</footer>






</body>
</html>