{% extends 'base.html' %}
{% block content %}


<h2 class="profile_title">Where {{user.name}} is going next:</h2>
<div class="content">
    {% for want_to_visit in bucket_list %}

        <div class="wrapper">
            <a class href="/cities/{{ want_to_visit.city.id }}"> <h3>{{ want_to_visit.city.name}}, {{want_to_visit.city.country.name}}</h3></a> 
            <h4>Top Attractions:</h4>
            <div class="list">
                <p>{{ want_to_visit.city.attraction_1 }}</p>
                <p>{{ want_to_visit.city.attraction_2 }}</p>
                <p>{{ want_to_visit.city.attraction_3 }}</p>
            </div>
            <div class="visit_bucket">
                <form action="/user/{{want_to_visit.id}}/delete_bucket" method="post"> <button>Remove</button> </form>
                <a href="/bucket_list/{{want_to_visit.id}}/visited"> <button>Visited</button></a>
            </div>
        </div>

    {% endfor %}
    </div>
</ul> 

    <h2 class="profile_title">Where {{user.name}} has</h2>

<div class="content">
    {% for visit in visited %}

        <div class="wrapper">
            <a class href="/cities/{{ visit.city.id }}"> <h3>{{ visit.city.name}}, {{visit.city.country.name}}</h3></a> 
            <h4>Top Attractions:</h4>
            <div class="list">
                <p>{{ visit.city.attraction_1 }}</p>
                <p>{{ visit.city.attraction_2 }}</p>
                <p>{{ visit.city.attraction_3 }}</p>
            </div>
            <div class="visit_bucket">
                <form action="/user/{{visit.id}}/delete_visit" method="post"> <button>Remove</button> </form>
            </div>
        </div>

    {% endfor %}
    </div>

    {% endblock content %}