{% extends 'base.html' %}

{% block content %}
    
<div class="content">
    <div class="wrapper">
    <form action="/register/new" method="post">
            <label for="user.name">Username:</label>
            <input type="text" id="name" name="user.name" placeholder="Username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="user.password" placeholder="password" required><br>
        <div class="submit">
            <input class ="input_button" type="submit">
        </div>
    </form>
    </div>
</div>
{% endblock content %}