
{% extends 'base.html' %}
{% block content %}
    <div class="content">
        <div class="wrapper">
            <h3>{{ city.name}}, {{city.country.name}}</h3>
            <h4>Top Attractions:</h4>
            <div class="list">
                <p>{{ city.attraction_1 }}</p>
                <p>{{ city.attraction_2 }}</p>
                <p>{{ city.attraction_3 }}</p>
            </div>
            <div class="visit_bucket">
                <a href="/visited/{{city.id}}"> <button>Visited</button></a>
                <a href="/bucket_list/{{city.id}}"> <button>Bucket</button></a>
                <a href="/cities/{{ city.id }}/edit"> <button>Edit</button></a>
                <a href="/cities/{{ city.id }}/delete"><button>Remove</button></a>
            </div>
        </div>
    </div>

{% endblock content %}


